body {
    background-color: #ffdf8c;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.content {
    margin-top: 3rem;
    margin-inline: auto;
    width: 1225px;
    background-color: white;
    padding: 49px 38px 0px 77px;
}

hr {
    max-width: 1300px;
}
