body {
    background-color: #ffdf8c;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.content {
    margin-top: 3rem;
    margin-inline: auto;
    width: 1350px;

    background-color: white;
    padding: 47px 51px 0px 51px;
    border-radius: 10px;
}

hr {
    max-width: 1300px;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.content_input {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    margin-bottom: 3rem;
    > div {
        > input {
            border: 1px solid rgba(0, 0, 0, 0.1);
            border-radius: 10px;
            font-size: 16px;
            padding: 12px 20px 12px 42px;
            width: 250px;
        }
        > img {
            width: 30px;
            position: absolute;
            transform: translate(10px, 8px);
        }
    }
}
